@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    @apply text-white;
  }
  .text-body {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    @apply text-white-dimmed;
  }
  .text-primary {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    @apply text-white-dimmed;
  }
  .text-secondary {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    @apply text-white-dimmed;
  }
  .text-description {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    @apply text-white-dimmed;
  }
}

@layer utilities {
  #input-login {
    position: absolute;
    width: 335px;
    height: 48px;
    left: 20px;
    top: 20px;
    border-radius: 6px;
    @apply bg-dark-light text-white-dimmed text-body;
  }
  #input-login:focused {
    border: 2px solid;
    @apply border-white-dimmed-heavy text-white-dimmed text-body;
  }
  #input-login:filled {
    border: 2px solid;
    @apply border-white-dimmed-heavy text-white text-body;
  }

  #search_bar {
    position: absolute;
    width: 335px;
    height: 48px;
    left: 20px;
    top: 100px;
    border-radius: 100px;
    @apply bg-dark-light;
  }
  #search_bar:active {
    border: 2px solid;
    @apply border-white-dimmed-heavy;
  }
}
